interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/buildinfo
  response:
    content: '{"webknossos":{"name":"webknossos","ciTag":"","commitHash":"12f1c1970fbc40ada2a530b5e95e75d55dca4009","ciBuild":"16685","scalaVersion":"2.12.12","version":"16685","sbtVersion":"1.4.1","datastoreApiVersion":"1.0","commitDate":"Wed
      Jan 26 15:18:52 2022 +0000"},"webknossos-wrap":{"builtAtMillis":"1640035836569","name":"webknossos-wrap","commitHash":"8b842648702f469a3ffd90dc8a68c4310e64b351","scalaVersion":"2.12.7","version":"1.1.15","sbtVersion":"1.4.1","builtAtString":"2021-12-20
      21:30:36.569"},"schemaVersion":80,"token":"xxxsecrettokenxxx","localDataStoreEnabled":false,"localTracingStoreEnabled":true}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
