interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/user
  response:
    content: '{"id":"5ffdaacf0100008a004e96c4","email":"florian@scm.io","firstName":"Florian","lastName":"M","isAdmin":true,"isDatasetManager":false,"isActive":true,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":false}],"experiences":{},"lastActivity":1610459855550,"isAnonymous":false,"isEditable":true,"organization":"scalable_minds","novelUserExperienceInfos":{"lastViewedWhatsNewTimestamp":1634825151366,"hasSeenDashboardWelcomeBanner":true},"selectedTheme":"auto","created":1610459855550,"lastTaskTypeId":null}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/users/5ffdaacf0100008a004e96c4/loggedTime
  response:
    content: '{"loggedTime":[{"paymentInterval":{"month":10,"year":2021},"durationInSeconds":0},{"paymentInterval":{"month":7,"year":2021},"durationInSeconds":452},{"paymentInterval":{"month":12,"year":2021},"durationInSeconds":0},{"paymentInterval":{"month":5,"year":2021},"durationInSeconds":20},{"paymentInterval":{"month":11,"year":2021},"durationInSeconds":21},{"paymentInterval":{"month":1,"year":2021},"durationInSeconds":36},{"paymentInterval":{"month":3,"year":2021},"durationInSeconds":158},{"paymentInterval":{"month":4,"year":2021},"durationInSeconds":0},{"paymentInterval":{"month":9,"year":2021},"durationInSeconds":143},{"paymentInterval":{"month":8,"year":2021},"durationInSeconds":203}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
