interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/annotations/Explorational/616457c2010000870032ced4/info
  response:
    content: '{"modified":1634820108376,"state":"Active","id":"616457c2010000870032ced4","name":"Training
      Data Example for Skin Layers","description":"Example Annotation to reproduce
      [the scikit-image example with a trainable segmenter](https://scikit-image.org/docs/0.18.x/auto_examples/segmentation/plot_trainable_segmentation.html#sphx-glr-auto-examples-segmentation-plot-trainable-segmentation-py).","typ":"Explorational","task":null,"stats":{"edgeCount":0,"nodeCount":0,"treeCount":0,"branchPointCount":0},"restrictions":{"allowAccess":true,"allowUpdate":true,"allowFinish":true,"allowDownload":true},"formattedHash":"32ced4","tracing":{"skeleton":"bd0e7b0b-0902-47df-a2de-91f8250c0189","volume":"65029191-14f6-49d1-a946-11496d249e1e"},"dataSetName":"skin","organization":"scalable_minds","dataStore":{"name":"webknossos.org","url":"https://data-humerus.webknossos.org","isForeign":false,"isScratch":false,"isConnector":false,"allowsUpload":true},"tracingStore":{"name":"localhost","url":"https://webknossos.org"},"visibility":"Public","settings":{"allowedModes":["orthogonal","oblique","flight","volume"],"branchPointsAllowed":true,"somaClickingAllowed":true,"mergerMode":false,"resolutionRestrictions":{}},"tracingTime":875476,"tags":["skin","hybrid"],"user":{"id":"6006a44d0100007e0070d734","email":"jonathan@scm.io","firstName":"Jonathan","lastName":"Striebel","isAdmin":true,"isDatasetManager":false,"isAnonymous":false,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":false}]},"meshes":[]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
