interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/annotations/Explorational/6114d9410100009f0096c640/info
  response:
    content: '{"modified":1630410875640,"state":"Active","id":"6114d9410100009f0096c640","name":"Nuclei
      Trees","description":"","typ":"Explorational","task":null,"stats":{"edgeCount":0,"nodeCount":6,"treeCount":6,"branchPointCount":0},"restrictions":{"allowAccess":true,"allowUpdate":false,"allowFinish":true,"allowDownload":true},"formattedHash":"96c640","tracing":{"skeleton":"adec7916-772b-4b9a-a438-d2cfaf37b044","volume":"ea2dd5df-fd54-41d4-9fa7-32d7ce619a27"},"dataSetName":"l4dense_motta_et_al_demo","organization":"scalable_minds","dataStore":{"name":"webknossos.org","url":"https://webknossos.org","isForeign":false,"isScratch":false,"isConnector":false,"allowsUpload":true},"tracingStore":{"name":"localhost","url":"https://webknossos.org"},"visibility":"Public","settings":{"allowedModes":["orthogonal","oblique","flight","volume"],"branchPointsAllowed":true,"somaClickingAllowed":true,"mergerMode":false,"resolutionRestrictions":{}},"tracingTime":575130,"tags":["l4dense_motta_et_al_demo","hybrid"],"user":{"id":"606c47c20100008300b3e8ae","email":"albane.dlvg@scalableminds.com","firstName":"Albane","lastName":"de
      la Villegeorges","isAdmin":true,"isDatasetManager":false,"isAnonymous":false,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":false}]},"meshes":[]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
