interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/user
  response:
    content: '{"id":"6006a44d0100007e0070d734","email":"jonathan@scm.io","firstName":"Jonathan","lastName":"Striebel","isAdmin":true,"isDatasetManager":false,"isActive":true,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":false}],"experiences":{},"lastActivity":1611048013169,"isAnonymous":false,"isEditable":true,"organization":"scalable_minds","novelUserExperienceInfos":{"lastViewedWhatsNewTimestamp":1643210728966,"shouldSeeModernControlsModal":false,"hasSeenDashboardWelcomeBanner":true},"selectedTheme":"auto","created":1611048013169,"lastTaskTypeId":null}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/users/6006a44d0100007e0070d734/loggedTime
  response:
    content: '{"loggedTime": [{"paymentInterval": {"month": 10, "year": 2021}, "durationInSeconds":
      1169}, {"paymentInterval": {"month": 1, "year": 1970}, "durationInSeconds":
      16}, {"paymentInterval": {"month": 12, "year": 2021}, "durationInSeconds": 10},
      {"paymentInterval": {"month": 9, "year": 2021}, "durationInSeconds": 17}, {"paymentInterval":
      {"month": 8, "year": 2021}, "durationInSeconds": 0}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
