interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/buildinfo
  response:
    content: '{"webknossos":{"name":"webknossos","ciTag":"","commitHash":"967c5dc8706343350f4f2512d65e7a9ef67c0f6e","ciBuild":"16106","scalaVersion":"2.12.12","version":"16106","sbtVersion":"1.4.1","datastoreApiVersion":"1.0","commitDate":"Thu
      Nov 25 14:22:10 2021 +0000"},"webknossos-wrap":{"builtAtMillis":"1623317662808","name":"webknossos-wrap","commitHash":"1380fd8fa9b3fd8b71a684299883a6697f80b4c2","scalaVersion":"2.12.7","version":"1.1.11","sbtVersion":"1.4.1","builtAtString":"2021-06-10
      09:34:22.808"},"schemaVersion":77,"token":"pfwXItjLFrVMsgoSt47drg","localDataStoreEnabled":false,"localTracingStoreEnabled":true}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
