interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/buildinfo
  response:
    content: '{"webknossos":{"name":"webknossos","ciTag":"","commitHash":"48bd317a3e452122a1eecabb35cfeff5da03d19e","ciBuild":"15750","scalaVersion":"2.12.12","version":"15750","sbtVersion":"1.4.1","datastoreApiVersion":"1.0","commitDate":"Tue
      Oct 12 10:43:19 2021 +0000"},"webknossos-wrap":{"builtAtMillis":"1623317662808","name":"webknossos-wrap","commitHash":"1380fd8fa9b3fd8b71a684299883a6697f80b4c2","scalaVersion":"2.12.7","version":"1.1.11","sbtVersion":"1.4.1","builtAtString":"2021-06-10
      09:34:22.808"},"schemaVersion":75,"token":"SqnS3uAzkqF94GoTgisQLw","localDataStoreEnabled":true,"localTracingStoreEnabled":true}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
