[tool.poetry]
name = "webknossos"
version = "0.0.0"  # filled by dunamai
description = "Python package to work with webKnossos datasets and annotations"
authors = ["scalable minds <hello@scalableminds.com>"]
readme = "README.md"
license = "AGPL-3.0"

[tool.poetry.dependencies]
python = "^3.7"
attrs = "^21.1.0"
cattrs = "1.7.1"
cluster_tools = "^1.52"
httpx = ">=0.15.4,<0.19.0"
numpy = "^1.15.0"  # see https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table
python-dateutil = "^2.8.0"
scikit-image = "^0.16.0"
scipy = "^1.4.0"
wkw = "1.1.11"
networkx = "^2.6.2"
loxun = "^2.0"
icecream = "^2.1.1"

[tool.poetry.dev-dependencies]
black = "21.7b0"
isort = "^5.9.3"
types-python-dateutil = "^0.1.6"
mypy = "0.910"
pylint = "^2.10.2"
pytest = "^6.2.4"

[tool.black]
target_version = ['py37', 'py38']
exclude = '''
(
  /(
    | \.git
    | \.venv
    | \.mypy_cache
    | dist
  )/
)
'''

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true

[tool.pylint.'MESSAGES CONTROL']
disable=["logging-format-interpolation","logging-fstring-interpolation","broad-except","protected-access","R","C"]

[build-system]
requires = ["poetry>=1.1"]
build-backend = "poetry.masonry.api"
