interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/annotations/61c20205010000cc004a6356/download?skipVolumeData=true
  response:
    content:
      zip:
        l4dense_motta_et_al_demo_v2__explorational__potto__4a6356.nml: "<things>\n
          \ <meta name=\"writer\" content=\"NmlWriter.scala\" />\n  <meta name=\"writerGitCommit\"
          content=\"ba9387b6908c55b6d234b90b9e8bc10ff50cbdf0\" />\n  <meta name=\"timestamp\"
          content=\"1643210000000\" />\n  <meta name=\"annotationId\" content=\"61c20205010000cc004a6356\"
          />\n  <meta name=\"username\" content=\"Philipp Otto\" />\n  <parameters>\n
          \   <experiment name=\"l4dense_motta_et_al_demo_v2\" organization=\"scalable_minds\"
          description=\"\" wkUrl=\"https://webknossos.org\" />\n    <scale x=\"11.239999771118164\"
          y=\"11.239999771118164\" z=\"28.0\" />\n    <offset x=\"0\" y=\"0\" z=\"0\"
          />\n    <time ms=\"1640104453746\" />\n    <editPosition x=\"2830\" y=\"4356\"
          z=\"1792\" />\n    <editRotation xRot=\"0.0\" yRot=\"0.0\" zRot=\"0.0\"
          />\n    <zoomLevel zoom=\"1.0\" />\n    <activeNode id=\"3\" />\n  </parameters>\n
          \ <thing id=\"1\" color.r=\"0.6784313917160034\" color.g=\"0.1411764770746231\"
          color.b=\"0.05098039284348488\" color.a=\"1.0\" name=\"explorative_2021-12-21_Philipp_Otto_001\">\n
          \   <nodes>\n      <node id=\"1\" radius=\"1.0\" x=\"2798\" y=\"4249\" z=\"1792\"
          rotX=\"0.0\" rotY=\"0.0\" rotZ=\"0.0\" inVp=\"0\" inMag=\"0\" bitDepth=\"8\"
          interpolation=\"true\" time=\"1640104470521\" />\n      <node id=\"2\" radius=\"1.0\"
          x=\"2895\" y=\"4255\" z=\"1792\" rotX=\"0.0\" rotY=\"0.0\" rotZ=\"0.0\"
          inVp=\"0\" inMag=\"0\" bitDepth=\"8\" interpolation=\"true\" time=\"1640104471535\"
          />\n      <node id=\"3\" radius=\"1.0\" x=\"2830\" y=\"4356\" z=\"1792\"
          rotX=\"0.0\" rotY=\"0.0\" rotZ=\"0.0\" inVp=\"0\" inMag=\"0\" bitDepth=\"8\"
          interpolation=\"true\" time=\"1640104472373\" />\n    </nodes>\n    <edges>\n
          \     <edge source=\"2\" target=\"3\" />\n      <edge source=\"1\" target=\"2\"
          />\n    </edges>\n  </thing>\n  <branchpoints />\n  <comments />\n  <groups
          />\n  <volume id=\"0\" name=\"Volume\" fallbackLayer=\"segmentation\" largestSegmentId=\"2504698\"><!--Note
          that volume data was omitted when downloading this annotation.-->\n    <segments>\n
          \     <segment id=\"2504698\" created=\"1640104460458\" anchorPositionX=\"2785\"
          anchorPositionY=\"4423\" anchorPositionZ=\"1792\" />\n    </segments>\n
          \   <groups />\n  </volume>\n</things>"
    headers:
      content-disposition:
      - attachment;filename="l4dense_motta_et_al_demo_v2__explorational__potto__4a6356.zip"
      content-type:
      - application/zip
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/datasets/scalable_minds/l4dense_motta_et_al_demo_v2
  response:
    content: '{"name":"l4dense_motta_et_al_demo_v2","dataSource":{"id":{"name":"l4dense_motta_et_al_demo_v2","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint8","adminViewConfiguration":{}},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint24","adminViewConfiguration":{"isDisabled":true}},{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint32","largestSegmentId":2504697,"adminViewConfiguration":{}}],"scale":[11.239999771118164,11.239999771118164,28]},"dataStore":{"name":"webknossos.org","url":"https://data-humerus.webknossos.org","isScratch":false,"allowsUpload":true},"owningOrganization":"scalable_minds","allowedTeams":[],"allowedTeamsCumulative":[],"isActive":true,"isPublic":true,"description":"Segmentation
      created with [Voxelytics](https://scalableminds.com/voxelytics) by [scalable
      minds](https://scalableminds.com).\n\nRaw SBEM data and segmentation ground
      truth by Max Planck Institute for Brain Research. As published in Dense connectomic
      reconstruction in layer 4 of the somatosensory cortex by A Motta, M Berning,
      KM Boergens, B Staffler, M Beining, S Loomba, P Hennig, H Wissler, M Helmstaedter
      in Science on 24 October 2019. [10.1126/science.aay3134](https://science.sciencemag.org/content/early/2019/10/23/science.aay3134)","displayName":"L4
      Mouse Cortex Segmentation","created":1627390556195,"isEditable":false,"lastUsedByUser":1010101010101,"logoUrl":"https://static.webknossos.org/logos/scalableminds.svg","sortingKey":1627390556195,"details":null,"isUnreported":false,"jobsEnabled":true,"tags":["demo"],"folderId":"63889e760100005801712441","publication":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Combined datastore and tracingstore directory</title>\n    <meta name=\"robot\"
        content=\"noindex\" />\n    <script type=\"text/javascript\">\n      // foward
        to path with trailing slash\n      if (!window.location.pathname.endsWith('/'))
        {\n        var url = window.location.protocol + '//' + \n                  window.location.host
        + \n                  window.location.pathname + '/' + \n                  window.location.search;\n
        \       window.location.replace(url);\n      }\n    </script>\n    \n    <style>\n
        \     * {\n        font-family: \"Monospaced Number\", -apple-system, BlinkMacSystemFont,
        \"Segoe UI\", Roboto,\n        \"PingFang SC\", \"Hiragino Sans GB\", \"Microsoft
        YaHei\", \"Helvetica Neue\", Helvetica, Arial,\n        sans-serif;\n        text-align:
        center\n      }\n      \n      ul {\n        list-style: none;\n      }\n\n
        \     p#hint {\n        color: #777;\n        margin-top: 4em\n      }\n    </style>\n
        \ </head>\n  <body>\n    <p id=\"hint\">This is the WEBKNOSSOS Combined datastore
        and tracingstore directory \u201C61c20205010000cc004a6356\u201D folder.</p>\n
        \   <p>The following are the contents of the folder:</p>\n    <ul>\n      \n
        \       <li><a href=\"datasource-properties.json\">datasource-properties.json</a></li>\n
        \     \n        <li><a href=\".zgroup\">.zgroup</a></li>\n      \n        <li><a
        href=\"Volume\">Volume</a></li>\n      \n        <li><a href=\"color\">color</a></li>\n
        \     \n        <li><a href=\"predictions\">predictions</a></li>\n      \n
        \       <li><a href=\"segmentation\">segmentation</a></li>\n      \n    </ul>\n
        \ </body>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo_v2","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[8,8,4],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[16,16,8],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[32,32,16],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[64,64,32],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[128,128,64],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[256,256,128],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[512,512,256],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[1024,1024,512],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"numChannels":1,"dataFormat":"zarr"},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"elementClass":"uint24","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[8,8,4],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[16,16,8],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[32,32,16],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[64,64,32[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Combined datastore and tracingstore directory</title>\n    <meta name=\"robot\"
        content=\"noindex\" />\n    <script type=[...]
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-3451
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo_v2","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrd[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      [...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/color/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n  [...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/predictions/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/predictions/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/segmentation/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/segmentation/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/Volume/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Combined Annotation Route</title>\n    <meta name=\"robot\" content=\"noindex\"
        />\n    <script type=\"text/java[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/annotations/zarr/61c20205010000cc004a6356/Volume/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Combined Annotation Route</title>\n    <meta name=\"robot\" content=\"noindex\"
        />\n    <script type=\"text/[...]
[...]
