[tool.poetry]
name = "cluster_tools"
version = "0.0.0"  # filled by dunamai
description = "Utility library for easily distributing code execution on clusters"
authors = ["scalable minds <hello@scalableminds.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/scalableminds/webknossos-libs"

[tool.poetry.dependencies]
python = "^3.6.2"
kubernetes = "^23.3.0"

[tool.poetry.dev-dependencies]
black = "22.3.0"
icecream = "^2.1.1"
isort = "^5.9.3"
mypy = "0.910"
pylint = "^2.12.2"
pytest = "^6.2.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
namespace_packages = true
strict_equality = true
show_error_codes = true
# disallow_untyped_defs = true
no_implicit_optional = true
