interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/1/zarr.json
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/1/.zattrs
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2935,4480,1869],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/2-2-1/zarr.json
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/2-2-1/.zattrs
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/color/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,1467,2240,1869],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/1/zarr.json
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/1/.zattrs
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2935,4480,1869],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/2-2-1/zarr.json
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/2-2-1/.zattrs
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,1467,2240,1869],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev/segmentation/4-4-2/.zattrs
  response:
    body:
      string: '{"messages":[{"error":"Invalid chunk coordinates. Expected dot separated
        coordinates like c.<additional_axes.>x.y.z"},{"chain":"[Server Time 2024-09-04
        12:32]  <~ Invalid chunk coordinates. Expected dot separated coordinates like
        c.<additional_axes.>x.y.z 404"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
