/* 1 item */
/* nothing needed */

/* 2 items */
article a:first-child:nth-last-child(2) > img,
article a:first-child:nth-last-child(2) ~ a > img {
    max-width: calc(100%/2 - 1em);
}

/* 3 items */
article a:first-child:nth-last-child(3) > img,
article a:first-child:nth-last-child(3) ~ a > img {
    max-width: calc(100%/3 - 1em);
}

/* 4 items */
article a:first-child:nth-last-child(4) > img,
article a:first-child:nth-last-child(4) ~ a > img {
    max-width: calc(100%/4 - 1em);
}

/* 5 items */
article a:first-child:nth-last-child(5) > img,
article a:first-child:nth-last-child(5) ~ a > img {
    max-width: calc(100%/5 - 1em);
}

/* 6 items */
article a:first-child:nth-last-child(6) > img,
article a:first-child:nth-last-child(6) ~ a > img {
    max-width: calc(100%/6 - 1em);
}

/* 7 items */
article a:first-child:nth-last-child(7) > img,
article a:first-child:nth-last-child(7) ~ a > img {
    max-width: calc(100%/7 - 1em);
}

/* 8 items */
article a:first-child:nth-last-child(8) > img,
article a:first-child:nth-last-child(8) ~ a > img {
    max-width: calc(100%/8 - 1em);
}

/* 9 items */
article a:first-child:nth-last-child(9) > img,
article a:first-child:nth-last-child(9) ~ a > img {
    max-width: calc(100%/9 - 1em);
}

/* 10 items */
article a:first-child:nth-last-child(10) > img,
article a:first-child:nth-last-child(10) ~ a > img {
    max-width: calc(100%/10 - 1em);
}

/*************/
/*  FIGURES  */
/*************/

/* Always set to 2 items */
article figure {
    max-width: calc(100%/2 - 1em) !important;
    display: inline-grid !important;
}
