services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    container_name: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql
      - ..:/cluster_tools

  slurmdbd:
    image: scalableminds/slurm-docker-cluster:port_slurm_in_docker_to_debian__14751549755
    command: [ "slurmdbd" ]
    container_name: slurmdbd
    hostname: slurmdbd
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - ./slurm.conf:/etc/slurm/slurm.conf
      - ./cgroup.conf:/etc/slurm/cgroup.conf
      - var_log_slurm:/var/log/slurm
    expose:
      - "6819"
    depends_on:
      - mysql

  slurmctld:
    image: scalableminds/slurm-docker-cluster:port_slurm_in_docker_to_debian__14751549755
    command: [ "slurmctld" ]
    container_name: slurmctld
    environment:
      USER: "root"
    hostname: slurmctld
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - ./slurm.conf:/etc/slurm/slurm.conf
      - ./cgroup.conf:/etc/slurm/cgroup.conf
      - ./slurm_jobdir:/data
      - ..:/cluster_tools
      - var_log_slurm:/var/log/slurm
      - .history:/root/.history
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"

  c1:
    image: scalableminds/slurm-docker-cluster:port_slurm_in_docker_to_debian__14751549755
    command: [ "slurmd" ]
    hostname: c1
    container_name: c1
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - ./slurm.conf:/etc/slurm/slurm.conf
      - ./cgroup.conf:/etc/slurm/cgroup.conf
      - ./slurm_jobdir:/data
      - ..:/cluster_tools
      - var_log_slurm:/var/log/slurm
    expose:
      - "6818"
    depends_on:
      - "slurmctld"

  c2:
    image: scalableminds/slurm-docker-cluster:port_slurm_in_docker_to_debian__14751549755
    command: [ "slurmd" ]
    hostname: c2
    container_name: c2
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - ./slurm.conf:/etc/slurm/slurm.conf
      - ./cgroup.conf:/etc/slurm/cgroup.conf
      - ./slurm_jobdir:/data
      - ..:/cluster_tools
      - var_log_slurm:/var/log/slurm
    expose:
      - "6818"
    depends_on:
      - "slurmctld"

volumes:
  etc_munge:
  etc_slurm:
  var_lib_mysql:
  var_log_slurm:
