interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/shortLinks/byKey/93zLg9U9vJ3c_UWp
  response:
    content: '{"_id":"638f66890100006501d8ac2c","key":"93zLg9U9vJ3c_UWp","longLink":"https://webknossos.org/datasets/scalable_minds/l4_sample_dev_sharing/view?token=ilDXmfQa2G8e719vb1U9YQ#%7B%22position%22:%5B2807,4352,1794%5D,%22mode%22:%22orthogonal%22,%22zoomStep%22:1.3,%22stateByLayer%22:%7B%22color%22:%7B%22isDisabled%22:false%7D,%22segmentation%22:%7B%22isDisabled%22:false%7D%7D%7D"}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/datasets/scalable_minds/l4_sample_dev_sharing?sharingToken=ilDXmfQa2G8e719vb1U9YQ
  response:
    content: '{"name":"l4_sample_dev_sharing","dataSource":{"id":{"name":"l4_sample_dev_sharing","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"resolutions":[[1,1,1],[2,2,1],[4,4,2]],"elementClass":"uint8"},{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"resolutions":[[1,1,1],[2,2,1],[4,4,2]],"elementClass":"uint32","largestSegmentId":5238529}],"scale":[11.239999771118164,11.239999771118164,28]},"dataStore":{"name":"webknossos.org","url":"https://data-humerus.webknossos.org","isScratch":false,"allowsUpload":true},"owningOrganization":"scalable_minds","allowedTeams":[],"allowedTeamsCumulative":[],"isActive":true,"isPublic":false,"description":null,"displayName":null,"created":1647612907522,"isEditable":false,"lastUsedByUser":1010101010101,"logoUrl":"https://static.webknossos.org/logos/scalableminds.svg","sortingKey":1647612907522,"details":null,"isUnreported":false,"jobsEnabled":true,"tags":[],"folderId":"638727a60b62b016daeaa60e","publication":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      // foward to path with trailing slash\n      if
        (!window.location.pathname.endsWith('/')) {\n        var url = window.location.protocol
        + '//' + \n                  window.location.host + \n                  window.location.pathname
        + '/' + \n                  window.location.search;\n        window.location.replace(url);\n
        \     }\n    </script>\n    \n    <style>\n      * {\n        font-family:
        \"Monospaced Number\", -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto,\n
        \       \"PingFang SC\", \"Hiragino Sans GB\", \"Microsoft YaHei\", \"Helvetica
        Neue\", Helvetica, Arial,\n        sans-serif;\n        text-align: center\n
        \     }\n      \n      ul {\n        list-style: none;\n      }\n\n      p#hint
        {\n        color: #777;\n        margin-top: 4em\n      }\n    </style>\n
        \ </head>\n  <body>\n    <p id=\"hint\">This is the WEBKNOSSOS Datastore \u201Cscalable_minds/l4_sample_dev_sharing\u201D
        folder.</p>\n    <p>The following are the contents of the folder:</p>\n    <ul>\n
        \     \n        <li><a href=\"datasource-properties.json\">datasource-properties.json</a></li>\n
        \     \n        <li><a href=\".zgroup\">.zgroup</a></li>\n      \n        <li><a
        href=\"color\">color</a></li>\n      \n        <li><a href=\"segmentation\">segmentation</a></li>\n
        \     \n    </ul>\n  </body>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4_sample_dev_sharing","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"numChannels":1,"dataFormat":"zarr"},{"name":"segmentation","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"elementClass":"uint32","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"largestSegmentId":5238529,"numChannels":1,"category":"segmentation","dataFormat":"zarr"}],"scale":[11.239999771118164,11.239999771118164,28]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/datasource-properties.json
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-862
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4_sample_dev_sharing","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"numChannels":1,"dataFormat":"zarr"},{"name":"segmentation","boundingBox":{"topLeft":[2679,4224,1719],"width":256,"height":256,"depth":150},"elementClass":"uint32","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"largestSegmentId":5238529,"numChannels":1,"category":"segmentation","dataFormat":"zarr"}],"scale":[11.239999771118164,11.239999771118164,28]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/datasource-properties.json
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      [...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/color/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n  [...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/segmentation/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4_sample_dev_sharing/segmentation/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript[...]
[...]
