interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/users
  response:
    content: '[{"id":"5bfecf6e010000fa035248bb","email":"manuel.mb.berning@gmail.com","firstName":"Manuel","lastName":"Berning","isAdmin":true,"isDatasetManager":true,"isActive":true,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":true}],"experiences":{},"lastActivity":1543425902059,"isAnonymous":false,"isEditable":true,"organization":"scalable_minds","novelUserExperienceInfos":{"shouldSeeModernControlsModal":true,"hasSeenDashboardWelcomeBanner":true},"selectedTheme":"auto","created":1543425902059,"lastTaskTypeId":null},{"id":"60f17acf0100008e003484ea","email":"liliia.bersanova@scalableminds.com","firstName":"Liliia","lastName":"Bersanova","isAdmin":false,"isDatasetManager":false,"isActive":true,"teams":[{"id":"5b3ce78557b7414e59269427","name":"scalable
      minds","isTeamManager":false}],"experiences":{},"lastActivity":1626438351807,"isAnonymous":false,"isEditable":true,"organization":"scalable_minds","novelUserExperienceInfos":{"hasSeenDashboardWelcomeBanner":true},"selectedTheme":"auto","created":1626[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/users/5bfecf6e010000fa035248bb/loggedTime
  response:
    content: '{"loggedTime":[{"paymentInterval":{"month":12,"year":2018},"durationInSeconds":40}]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/users/5b8fdd181e000071154ac09c/loggedTime
  response:
    content: '{"loggedTime":[]}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
