interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/datasets/scalable_minds/l4dense_motta_et_al_demo
  response:
    content: '{"name":"l4dense_motta_et_al_demo","dataSource":{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint8","adminViewConfiguration":{"intensityRange":[80,180]}},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint24","adminViewConfiguration":{"isDisabled":true}},{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint32","largestSegmentId":2504697,"adminViewConfiguration":{}}],"scale":[11.239999771118164,11.239999771118164,28]},"dataStore":{"name":"webknossos.org","url":"https://data-humerus.webknossos.org","isScratch":false,"allowsUpload":true},"owningOrganization":"scalable_minds","allowedTeams":[],"allowedTeamsCumulative":[],"isActive":true,"isPublic":true,"description":"Segmentation
      created with [Voxelytics](https://scalableminds.com/voxelytics) by [scalable
      minds](https://scalableminds.com).\n\n \n\nRaw SBEM data and segmentation ground
      truth by Max Planck Institute for Brain Research. As published in *Dense connectomic
      reconstruction in layer 4 of the somatosensory cortex* by A Motta, M Berning,
      KM Boergens, B Staffler, M Beining, S Loomba, P Hennig, H Wissler, M Helmstaedter
      in *Science* on 24 October 2019. [10.1126/science.aay3134](https://science.sciencemag.org/content/early/2019/10/23/science.aay3134)\n","displayName":"L4
      Mouse Cortex Demo","created":1597232436055,"isEditable":false,"lastUsedByUser":1010101010101,"logoUrl":"https://static.webknossos.org/logos/scalableminds.svg","sortingKey":1597232436055,"details":null,"isUnreported":false,"jobsEnabled":true,"tags":["demo","l4dense"],"folderId":"63889e760100005801712441","publication":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      // foward to path with trailing slash\n      if
        (!window.location.pathname.endsWith('/')) {\n        var url = window.location.protocol
        + '//' + \n                  window.location.host + \n                  window.location.pathname
        + '/' + \n                  window.location.search;\n        window.location.replace(url);\n
        \     }\n    </script>\n    \n    <style>\n      * {\n        font-family:
        \"Monospaced Number\", -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto,\n
        \       \"PingFang SC\", \"Hiragino Sans GB\", \"Microsoft YaHei\", \"Helvetica
        Neue\", Helvetica, Arial,\n        sans-serif;\n        text-align: center\n
        \     }\n      \n      ul {\n        list-style: none;\n      }\n\n      p#hint
        {\n        color: #777;\n        margin-top: 4em\n      }\n    </style>\n
        \ </head>\n  <body>\n    <p id=\"hint\">This is the WEBKNOSSOS Datastore \u201Cscalable_minds/l4dense_motta_et_al_demo\u201D
        folder.</p>\n    <p>The following are the contents of the folder:</p>\n    <ul>\n
        \     \n        <li><a href=\"datasource-properties.json\">datasource-properties.json</a></li>\n
        \     \n        <li><a href=\".zgroup\">.zgroup</a></li>\n      \n        <li><a
        href=\"color\">color</a></li>\n      \n        <li><a href=\"predictions\">predictions</a></li>\n
        \     \n        <li><a href=\"segmentation\">segmentation</a></li>\n      \n
        \   </ul>\n  </body>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[8,8,4],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[16,16,8],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[32,32,16],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[64,64,32],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[128,128,64],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[256,256,128],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[512,512,256],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[1024,1024,512],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"numChannels":1,"dataFormat":"zarr"},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"elementClass":"uint24","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[4,4,2],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[8,8,4],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[16,16,8],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[32,32,16],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[64,64,32[...]
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-2607
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}},{"mag":[2,2,1],"axisOrd[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n   [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,5573,8508,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2786,4254,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\"[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,5632,8704,3584],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascri[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,2816,4352,3584],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,5573,8508,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascr[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2786,4254,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1/.zarray
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/user
  response:
    content: '{"id":"570b9f4d2a7c0e4d008da6ef","email":"user_A@scalableminds.com","firstName":"user_A","lastName":"BoyA","isAdmin":true,"isOrganizationOwner":true,"isDatasetManager":true,"isActive":true,"teams":[{"id":"570b9f4b2a7c0e3b008da6ec","name":"team_X1","isTeamManager":true},{"id":"59882b370d889b84020efd3f","name":"team_X3","isTeamManager":false},{"id":"59882b370d889b84020efd6f","name":"team_X4","isTeamManager":true}],"experiences":{"abc":5},"lastActivity":1685968004809,"isAnonymous":false,"isEditable":true,"organization":"Organization_X","novelUserExperienceInfos":{},"selectedTheme":"auto","created":1460379469000,"lastTaskTypeId":null,"isSuperUser":true}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/datasets?isActive=true&organizationName=Organization_X
  response:
    content: '[{"name":"skin_segmented_2023-06-05_11-59-32","dataSource":{"id":{"name":"skin_segmented_2023-06-05_11-59-32","team":"Organization_X"},"dataLayers":[{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[0,0,0],"width":1280,"height":960,"depth":1},"resolutions":[],"elementClass":"uint8","largestSegmentId":4}],"scale":[550,550,550]},"dataStore":{"name":"localhost","url":"http://localhost:9000","isScratch":false,"isConnector":false,"allowsUpload":true},"owningOrganization":"Organization_X","allowedTeams":[],"allowedTeamsCumulative":[],"isActive":true,"isPublic":false,"description":null,"displayName":null,"created":1685967882608,"isEditable":true,"lastUsedByUser":1010101010101,"logoUrl":"/assets/images/mpi-logos.svg","sortingKey":1685967882608,"details":null,"isUnreported":false,"jobsEnabled":false,"tags":[],"folderId":"570b9f4e4bb848d0885ea917","publication":null},{"name":"tiff_dataset_2023-05-30_09-32-00","dataSourc[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/datasets?isActive=true&organizationName=scalable_minds
  response:
    content: '{"messages":[{"error":"Couldn''t find the requested resource."}]}'
    headers:
      content-type:
      - application/json
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/datasets/Organization_X/e2006_knossos
  response:
    content: '{"name":"e2006_knossos","dataSource":{"id":{"name":"e2006_knossos","team":"Organization_X"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[0,0,0],"width":24,"height":24,"depth":24},"resolutions":[[1,1,1]],"elementClass":"uint24","defaultViewConfiguration":{"color":[255,0,0]}}],"scale":[1.1,1.1,1.1]},"dataStore":{"name":"localhost","url":"http://localhost:9000","isScratch":false,"isConnector":false,"allowsUpload":true},"owningOrganization":"Organization_X","allowedTeams":[],"allowedTeamsCumulative":[],"isActive":true,"isPublic":false,"description":null,"displayName":null,"created":1685967882715,"isEditable":true,"lastUsedByUser":1010101010101,"logoUrl":"/assets/images/mpi-logos.svg","sortingKey":1685967882715,"details":null,"isUnreported":false,"jobsEnabled":false,"tags":[],"folderId":"570b9f4e4bb848d0885ea917","publication":null}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: http://localhost:9000/api/userToken/generate
  response:
    content: '{"token":"xxxsecrettokenxxx"}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      // foward to path with trailin[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"e2006_knossos","team":"Organization_X"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[0,0,0],"width":24,"height":24,"depth":24},"elementClass":"uint24","mags":[{"mag":[1,1,1],"axisOrder":{"x":1,"y":2,"z":3,"c":0}}],"numChannels":3,"dataFormat":"zarr"}],"scale":[1.1,1.1,1.1]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/datasource-properties.json
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>WEBKNOSSOS
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    <script
        type=\"text/javascript\">\n      // foward to path with[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,24,24,24],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1/.zarray
[...]
- request:
    body: '{"name": "e2006_knossos", "dataSource": {"id": {"name": "e2006_knossos",
      "team": "Organization_X"}, "dataLayers": [{"name": "color", "category": "color",
      "boundingBox": {"topLeft": [0, 0, 0], "width": 24, "height": 24, "depth": 24},
      "resolutions": [[1, 1, 1]], "elementClass": "uint24", "defaultViewConfiguration":
      {"color": [255, 0, 0]}}], "scale": [1.1, 1.1, 1.1]}, "dataStore": {"isConnector":
      false, "name": "localhost", "url": "http://localhos[...]
[...]
