interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://webknossos.org/api/datasets/scalable_minds/l4dense_motta_et_al_demo
  response:
    content: '{"name":"l4dense_motta_et_al_demo","dataSource":{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint8","adminViewConfiguration":{"intensityRange":[80,180]}},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint24","adminViewConfiguration":{"isDisabled":true}},{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"resolutions":[[1,1,1],[2,2,1],[4,4,2],[8,8,4],[16,16,8],[32,32,16],[64,64,32],[128,128,64],[256,256,128],[512,512,256],[1024,1024,512]],"elementClass":"uint32","largestSegmentId":2504697,"adminViewConfiguration":{}}],"scale":[11.24,11.24,28]},"dataStore":{"name":"webknossos.org","url":"https://data-humerus.webknossos.org","isForeign":false,"isScratch":false,"isConnector":false,"allowsUpload":true},"owningOrganization":"scalable_minds","allowedTeams":[],"isActive":true,"isPublic":true,"description":"Segmentation
      created with [Voxelytics](https://scalableminds.com/voxelytics) by [scalable
      minds](https://scalableminds.com).\n\n \n\nRaw SBEM data and segmentation ground
      truth by Max Planck Institute for Brain Research. As published in *Dense connectomic
      reconstruction in layer 4 of the somatosensory cortex* by A Motta, M Berning,
      KM Boergens, B Staffler, M Beining, S Loomba, P Hennig, H Wissler, M Helmstaedter
      in *Science* on 24 October 2019. [10.1126/science.aay3134](https://science.sciencemag.org/content/early/2019/10/23/science.aay3134)\n","displayName":"L4
      Mouse Cortex Demo","created":1597232436055,"isEditable":false,"lastUsedByUser":1010101010101,"logoUrl":"https://static.webknossos.org/logos/scalableminds.svg","sortingKey":1597232436055,"details":null,"publication":null,"isUnreported":false,"isForeign":false,"jobsEnabled":true,"tags":["demo","l4dense"]}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n        font-family: \"Monospaced Number\", -apple-system,
        BlinkMacSystemFont, \"Segoe UI\", Roboto,\n        \"PingFang SC\", \"Hiragino
        Sans GB\", \"Microsoft YaHei\", \"Helvetica Neue\", Helvetica, Arial,\n        sans-serif;\n
        \       text-align: center\n      }\n\n      img {\n        display: block;\n
        \       margin: auto;\n        padding: 3em 2em 0.5em 2em\n      }\n\n      a
        {\n        color: inherit;\n        text-decoration: none\n      }\n\n      a#wkLink
        {\n        color: black;\n        font-size: 2em\n      }\n\n      p#hint
        {\n        color: #777;\n        margin-top: 4em\n      }\n    </style>\n
        \ </head>\n  <body>\n    <a href=\".\" id=\"wkLink\">\n      <img src=\"https://static.webknossos.org/images/oxalis.svg\"
        alt=\"\" />\n      <span>Go to webKnossos</span>\n    </a>\n    <p id=\"hint\">This
        is the webKnossos Datastore \u201Cscalable_minds/l4dense_motta_et_al_demo\u201D
        folder.</p>\n    <p>The following are the contents of the folder:</p>\n    <ul>\n
        \     \n        <li><a href=.>l4dense_motta_et_al_demo</a>: .</li>\n      \n
        \       <li><a href=l4dense_motta_et_al_demo/color>color</a>: l4dense_motta_et_al_demo/color</li>\n
        \     \n        <li><a href=l4dense_motta_et_al_demo/predictions>predictions</a>:
        l4dense_motta_et_al_demo/predictions</li>\n      \n        <li><a href=l4dense_motta_et_al_demo/segmentation>segmentation</a>:
        l4dense_motta_et_al_demo/segmentation</li>\n      \n    </ul>\n  </body>\n</html>\n"
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1]},{"mag":[2,2,1]},{"mag":[4,4,2]},{"mag":[8,8,4]},{"mag":[16,16,8]},{"mag":[32,32,16]},{"mag":[64,64,32]},{"mag":[128,128,64]},{"mag":[256,256,128]},{"mag":[512,512,256]},{"mag":[1024,1024,512]}],"numChannels":1,"dataFormat":"zarr"},{"name":"predictions","category":"color","boundingBox":{"topLeft":[0,0,0],"width":5632,"height":8704,"depth":3584},"elementClass":"uint24","mags":[{"mag":[1,1,1]},{"mag":[2,2,1]},{"mag":[4,4,2]},{"mag":[8,8,4]},{"mag":[16,16,8]},{"mag":[32,32,16]},{"mag":[64,64,32]},{"mag":[128,128,64]},{"mag":[256,256,128]},{"mag":[512,512,256]},{"mag":[1024,1024,512]}],"numChannels":3,"dataFormat":"zarr"},{"name":"segmentation","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint32","mags":[{"mag":[1,1,1]},{"mag":[2,2,1]},{"mag":[4,4,2]},{"mag":[8,8,4]},{"mag":[16,16,8]},{"mag":[32,32,16]},{"mag":[64,64,32]},{"mag":[128,128,64]},{"mag":[256,256,128]},{"mag":[512,512,256]},{"mag":[1024,1024,512]}],"largestSegmentId":2504697,"numChannels":1,"category":"segmentation","dataFormat":"zarr"}],"scale":[11.239999771118164,11.239999771118164,28]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1353
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/datasource-properties.json
  response:
    body:
      string: '{"id":{"name":"l4dense_motta_et_al_demo","team":"scalable_minds"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[128,128,128],"width":5445,"height":8380,"depth":3285},"elementClass":"uint8","mags":[{"mag":[1,1,1]},{"mag":[2,2,1]},{"mag":[4,4,2]},{"mag":[8,8,4]},{"mag":[16,16[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n        fon[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,5573,8508,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n       [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2786,4254,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/color/2-2-1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n     [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,5632,8704,3584],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,2816,4352,3584],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/predictions/2-2-1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n    [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,5573,8508,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/1/.zarray
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1/.zarray
  response:
    body:
      string: '{"dtype":"<u4","fill_value":0,"zarr_format":2,"order":"F","chunks":[1,32,32,32],"compressor":null,"filters":null,"shape":[1,2786,4254,3413],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://data-humerus.webknossos.org/data/zarr/scalable_minds/l4dense_motta_et_al_demo/segmentation/2-2-1/.zarray
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/user
  response:
    content: '{"id":"570b9f4d2a7c0e4d008da6ef","email":"user_A@scalableminds.com","firstName":"user_A","lastName":"BoyA","isAdmin":true,"isDatasetManager":true,"isActive":true,"teams":[{"id":"570b9f4b2a7c0e3b008da6ec","name":"team_X1","isTeamManager":true},{"id":"59882b370d889b84020efd3f","name":"team_X3","isTeamManager":false},{"id":"59882b370d889b84020efd6f","name":"team_X4","isTeamManager":true}],"experiences":{"abc":5},"lastActivity":1657637219210,"isAnonymous":false,"isEditable":true,"organization":"Organization_X","novelUserExperienceInfos":{},"selectedTheme":"auto","created":1460379469000,"lastTaskTypeId":null,"isSuperUser":true}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/datasets
  response:
    content: '[{"name":"2012-06-28_Cortex","dataSource":{"id":{"name":"2012-06-28_Cortex","team":"Organization_X"},"status":"No
      longer available on datastore."},"dataStore":{"name":"localhost","url":"http://localhost:9000","isForeign":false,"isScratch":false,"isConnector":false,"allowsUpload":true},"owningOrganization":"Organization_X","allowedTeams":[{"id":"570b9f4b2a7c0e3b008da6ec[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: http://localhost:9000/api/datasets/Organization_X/e2006_knossos
  response:
    content: '{"name":"e2006_knossos","dataSource":{"id":{"name":"e2006_knossos","team":"Organization_X"},"dataLayers":[{"name":"color","category":"color","boundingBox":{"topLeft":[4480,4736,1920],"width":512,"height":512,"depth":512},"resolutions":[[1,1,1],[2,2,2],[4,4,4],[8,8,8],[16,16,16],[32,32,32],[64,64,64],[128,128,128]],"elementClass":"uint8"},{"name":"segmentation","category":"segmentation","boundingBox":{"topLeft":[4480,4736,1920],"width":512,"height":512,"depth":512},"resolutions":[[1,1,1]],"elementClass":"uint16","largestSegmentId":10000}],"scale":[16.5,16.5,25]},"dataStore":{"name":"localhost","url":"http://localhost:9000","isForeign":false,"isScratch":false,"isConnector":false,"allowsUpload":true},"owningOrganization":"Organization_X","allowedTeams":[{"id":"570b9f4b2a7c0e3b008da6ec","name":"team_X1","organization":"Organization_X"}],"isActive":true,"isPublic":false,"description":null,"displayName":null,"created":1508495293789,"isEditable":true,"lastUsedByUser":1010101010101,"logoUrl":"/assets/images/mpi-logos.svg","sortingKey":1508495293789,"details":null,"publication":null,"isUnreported":false,"isForeign":false,"jobsEnabled":false,"tags":[]}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: http://localhost:9000/api/userToken/generate
  response:
    content: '{"token":"xxxsecrettokenxxx"}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n        font-family: \"Monospaced Number\", [...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/datasource-properties.json
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/datasource-properties.json
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, user-scalable=yes\">\n    <title>webKnossos
        Datastore</title>\n    <meta name=\"robot\" content=\"noindex\" />\n    \n
        \   <style>\n      * {\n        font-family: \"Monospaced Nu[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1/.zarray
  response:
    body:
      string: '{"dtype":"|u1","fill_value":0,"zarr_format":2,"order":"F","chunks":[3,32,32,32],"compressor":null,"filters":null,"shape":[3,24,24,24],"dimension_seperator":"."}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
    url: http://localhost:9000/data/zarr/Organization_X/e2006_knossos/color/1/.zarray
[...]
- request:
    body: '{"name": "e2006_knossos", "dataSource": {"id": {"name": "e2006_knossos",
      "team": "Organization_X"}, "dataLayers": [{"name": "color", "category": "color",
      "boundingBox": {"topLeft": [4480, 4736, 1920], "width": 512, "height": 512,
      "depth": 512}, "resolutions": [[1, 1, 1], [2, 2, 2], [4, 4, 4], [8, 8, 8], [16,
      16, 16], [32, 32, 32], [64, 64, 64], [128, 128, 128]], "elementClass": "uint8"},
      {"largestSegmentId": 10000, "name": "segmentation", "cate[...]
[...]
