{% extends "default/module.html.jinja2" %}

{%- set show_source = false -%}

{% defaultmacro docstring(var) %}
    {% if var.docstring %}
        {% set var_dict = {"docstring_md": var.docstring | to_markdown } %}
        {% set top_level = "../" * module.modulename.count(".") %}
        {% for task_info in env["PDOC_CLASS_MODULES"].split("|") %}
            {% set task_name, task_module = task_info.split(":") %}
            {% set search_for = "`" + task_name + "`" %}
            {% set task_html_path = task_module.replace(".", "/") + ".html#" + task_name %}
            {% set task_link = "[`" + task_name + "`](" + top_level + task_html_path + ")" %}
            {% if var_dict.update({"docstring_md": var_dict.docstring_md.replace(search_for, task_link)}) %}{% endif %}
        {% endfor %}
        <div class="docstring">{{ var_dict.docstring_md | to_html | linkify(namespace=var.qualname) }}</div>
    {% endif %}
{% enddefaultmacro %}
