name: nightly

on:
  schedule:
    - cron:  '00 06 * * *'
  workflow_dispatch: ~

jobs:
  webknossos_nightly:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        group: [1, 2, 3]
      fail-fast: false
    defaults:
      run:
        working-directory: webknossos

    steps:
    - uses: actions/checkout@v3
        
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "0.5.26"

    - name: Install proxay
      run: npm install -g proxay
        
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}

    - name: Check if git is dirty
      run: |
        git diff --no-ext-diff --quiet --exit-code
        [[ -z $(git status -s) ]]

    - name: Use currently deployed Webknossos version
      run: |
        sed -i "s/export DOCKER_TAG=.*$/export DOCKER_TAG=master__$(curl https://webknossos.org/api/buildinfo | jq -r .webknossos.version)/" local_wk_setup.sh

    - name: Python tests, refreshing the network snapshots
      env:
        WK_TOKEN: ${{ secrets.WK_TOKEN }}
      run: ./test.sh --refresh-snapshots --splits 3 --group ${{ matrix.group }}

    - name: Python tests, using the new snapshots
      env:
        WK_TOKEN: ${{ secrets.WK_TOKEN }}
      run: ./test.sh --refresh-snapshots --splits 3 --group ${{ matrix.group }}
